<h1>New Post for <%= @place.name %></h1>

<form action="/entries" method="post">
  <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">

  <input type="hidden" name="place_id" value="<%= @place.id %>">

  <p>
    <label for="title">Title</label><br>
    <input id="title" type="text" name="title">
  </p>

  <p>
    <label for="occurred_on">Date</label><br>
    <input id="occurred_on" type="date" name="occurred_on">
  </p>

  <p>
    <label for="description">Description</label><br>
    <textarea id="description" name="description"></textarea>
  </p>

  <button>Create entry</button>
</form>

<p><a href="/places/<%= @place.id %>">Back to <%= @place.name %></a></p>
